<p>página  app-root</p>
<div  >
  Nombre: <input type="text" ng-model="Libros.titulo" />

  <p>
  Hola mundo AngularJS!!! Soy <b>{{ Libros.titulo }}</b>
  </p>

  <script src="angular.min.js"></script>


  <ul>
    <li *ngFor="let libro of Libros">
      {{libro.id}}
      {{libro.titulo}}
      {{libro.autor}}
      {{libro.editorial}}
      {{libro.descripcion}}
      {{libro.img}}
      <td>
      <img src="..\img\img1.png" >
    </td>
    <td>
      <img src="..\img\{{libro.img}}" >
    </td>
 <td>
      <img src="../img/img1.png" >
    </td>






      <br>
      <br>
    </li>
  </ul>
</div>
